
p {
    font-family:Roboto,Arial;
   
}

body {
    margin-top:15px;
    background-image: url(../thumbnails/arnold.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    width: 100%;
   
    
    }
    
