p {
    font-family:Roboto,Arial;
   
}

body {
    margin-top:15px;
    background-image: url(../thumbnails/arnold.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    height: 1200px;
    width:min (90%,1200px);
    }
    
